extends base-email

block content
  p Hi #{firstName}
  p Have you forget your password? No problem!
  p To reset it and set a new one you only need to click on the button below and type in your new password
  p Please note that this link is only valid for 30 minutes!
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}` target='_blank') Set New Password
  p In case you experience any problems, please feel free to contact us on the whatever@example.com email address!